a {
  color: #000000;
}

#activity-background {
  height: 100%; 
  background: url('/static/images/record-player.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-title {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

#form-title {
    font-size: 25px;
}

.input-field {
    background-color: #C6C6C6;
    font-family: 'Unica One', cursive;
}

.card-body {
    opacity: .9;
}

.jsgrid-cell {
    padding-right: 10px;
    padding-left: 10px;
}


#activity-form {
    font-family: 'Unica One', cursive;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#prev-playlist-table, th {
    padding: 10px;
    margin: 0px auto;
    color: #000000;
    font-size: 25px; 
    font-family: 'Unica One', cursive;   
}

#prev-playlist-table, td {
    padding: 10px;
    margin: 0px auto;
    font-size: 15px; 
    font-family: 'Unica One', cursive;   
}

#div-playlist {
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0px auto;
}

tr:hover {
    background-color: #f5f5f5;
}

#submit-btn-3 {
    width: 150px;
    background: #737170;    
    border-radius: 5px;
    border: 1px solid #4e3043;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Unica One', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
}

#submit-btn-3:hover {
    color: #65B146;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 40px;
}

/* Control the left side */
.left {
  left: 0;
  padding-left: 30px;
}

/* Control the right side */
.right {
  right: 0;
  padding-top: 55px;
  padding-right: 30px;
}


#logout-user {
    color: white;
    font-family: 'Unica One', cursive;
    background-color: #65B146;
    opacity: .9;
    border: 3px solid #218C46;
}

#logout-user:hover{
    background: none;
}

footer {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left:0;
    right: 0;
}