body {
  height: 100%; 
  background: url('/static/images/dark_wood.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-title {
    font-family: 'Permanent Marker', sans-serif;
    color: #32CD32;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.input-field {
    background-color: #C6C6C6;
    font-family: 'Permanent Marker', sans-serif;
}

.card-body {
    opacity: .9;
}

#prev-playlist-table{
    padding-right: 100px;
    padding-left: 100px;
}

.jsgrid-cell {
    padding-right: 10px;
    padding-left: 10px;
}
/*#login-form {
    color: #32CD32;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}*/

#submit-btn {
    color: #69E74F;
}

footer {
    position: absolute;
    bottom: 50px;
    left:0;
    right: 0;
}