#background-img {
  height: 100%; 
  background: url('/static/images/record-player.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-title-homepage {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: #65B146;
    text-shadow: black 0px 0px 10px;
    font-size: 130px;
    text-align: center;
    padding-top: 70px;
}

#main-description{
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    color: #65B146;
    text-shadow: black 0px 0px 10px;
    font-size: 30px;
    padding-bottom: 50px;
}

#opt-desc {
    display:none;
    padding-bottom: 100px;
    padding-right: 350px;
    padding-left: 350px;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-shadow: black 0px 0px 10px;
}

#about-btn, #new-user, #returning-user {
    color: white;
    background-color: #65B146;
    opacity: .9;
    border: 3px solid #218C46;
}

#about-btn:hover{
    background: none;
}

#new-user:hover{
    background: none;
}

#returning-user:hover{
    background: none;
}

.btn {
    border-radius: 8px;
    border: 3px solid #65B146;
    text-shadow: black 0px 0px 10px;
    padding-bottom: 1px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
}

.button-label {
    font-family: 'Unica One', cursive;
    font-size: 20;
}

footer {
    position: absolute;
    bottom: 50px;
    left:0;
    right: 0;
}