#background-img {
  height: 100%; 
  background: url('/static/images/record-player.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-title {
    font-family: 'Permanent Marker', sans-serif;
    color: #32CD32;
    font-size: 150px;
    text-align: center;
    padding-top: 50px;
}

#main-description{
    font-family: 'Permanent Marker', sans-serif;
    color: #32CD32;
    font-size: 30px;
    padding-bottom: 450px;
}

.btn {
    border-radius: 8px;
    border: 2px solid #69E74F;
}

/*.btn:hover {
  background-color: #FFFFFF;
  color: white;
}*/


/*#32CD32*/
/*#69E74F*/
/*Fredoka+One|Monoton|Righteous|Permanent+Marker*/