#background-img {
  height: 100%; 
  background: url('/static/images/record-player.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#main-title-login {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    text-shadow: black 0px 0px 10px;
    color: #65B146;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
}

.card { 
    background-color: rgba(245, 245, 245, 0.4); 
}

.card-body {
    opacity: .4;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
}

#login-form {
    padding-top: 0px;
    margin: 35px auto 35px;
    padding: 10px;
    position: relative;
    font-family: 'Unica One', cursive;
    color: #65B146;
    font-weight: bold;   
    text-shadow: #218C46;
    text-transform: uppercase;
    font-size: 25px;
}

#login-form input[type=text],
#login-form input[type=password] {
    width: 100%;
    padding-top: 8px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-left: 10px;    
    margin-bottom: 15px;
    border: 1px solid #4e3043; 
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: 'Unica One', cursive;
    font-size: 20px;
    color: #fff;
}

.input-field{
    background-color: #C6C6C6;
    font-family: 'Unica One', cursive;
    font-size: 20px;
}


#submit-btn-return {
    width: 310px;
    background: #737170;    
    border-radius: 5px;
    border: 1px solid #4e3043;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Unica One', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;
}

#submit-btn-return:hover {
    color: #65B146;
}

