{% extends 'base.html' %}
{% block content %}

<div>Input an activity to generate a playlist!</div>

<br>
 
<form id="activity-form" autocomplete="off" >
    Activity name: <input type="text" id="activity_query">
    <br>
    Playlist name: <input type="text" id="playlist_name">
    <input type="submit" value="Submit" id='search-button'>
</form>

<br>
<br>

<!-- ***********************WIDGET************************* -->
<div id="div-playlist"></div>

<br>

<!-- *******************PREV PLAYLIST JSGRID****************** -->
<div id="prev-playlist-table"></div>

<br>

<!-- *******************Create jsGRID Table********************** -->
<script>

  function createPlaylistTable(item, itemIndex) {

    
    let playlistRow = $("<tr>").addClass("jsgrid-cell");
    // let td = $("<td>").text(item.title).html(item.src);
    let td = $("<td>").html("<a href=" + item.src +">" + item.title + "</a>");
    // let td = $("<td>").html(item.src);
    // .append(`<input type='hidden' id=${item.title} value=${item.src}>`);
    // let tdSrc = $("<td>")
    // data-id: unique name 

    playlistRow.append(td);
    return playlistRow;

  }

  $.get('/activity-page.json', (results) => {
    console.log(results);
    $("#prev-playlist-table").jsGrid({
        width: "50%",
        height: "400px",
        // inserting: true,
        // editing: true,
        sorting: true,
        selecting: true,
        // paging: true,

        rowRenderer: createPlaylistTable,

        data: results,

        fields: [
            { name: "title", title: "Previous Playlists", type: "text", width: 150, validate: "required" }
            // { type: "control" }
        ]
      });
    attachEventListeners();
  });
</script>
<!-- *****************AJAX Response to SUBMIT***********************-->
<script>

  

    $('#activity-form').submit(function( event ) {
      event.preventDefault();
   
      const formData = {
        activity_query: $('#activity_query').val(),
        playlist_name: $('#playlist_name').val()
        };

      $.post('/activity-page-cont', formData, (results) => {
        $('#div-playlist').html(`<iframe id="view-playlist"  data src="${results.playlist}" width="500" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>`);
      });
   
      $("#prev-playlist-table").jsGrid("insertItem", ({'title': formData.playlist_name})).done(function() {
      });

      $('#activity-form')[0].reset();

    });
  

</script>

<!-- ***********AJAX Response to PREV PLAYLIST*******************-->
<script>
  function attachEventListeners(){
    // alert('attached event listeners');
    $('.jsgrid-cell').click(function( event ) {
        event.preventDefault();

        let playlistName = event.target.innerHTML;
        // playlistName = playlistName.getAttribute("href");
        // playlistName = playlistName.attr("href");
        // console.log(event.target.innerHTML);

        // $(this).attr("href")
        // console.log("we just clicked: " + playlistName);
        var href = playlistName.match(/href="([^"]*)/)[1];

        $('#div-playlist').html(`<iframe id="view-playlist"  data src="${href}" width="500" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>`);

        // $('#view-playlist').html(`<iframe id="view-playlist"  data src="${playlistName}" width="500" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>`);  

        // $('body').append(`<iframe id="view-playlist"  data src="${playlistName}" width="500" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>`);  
    });
     
  }
</script>


<br>
<br>
<br>
<div>  
    <button id='logout-user' onclick="location.href = '/logout'">logout</button>
</div>

{% endblock %}
