{% extends 'base.html' %}
{% block content %}

  <div>Input an activity to generate a playlist!</div>



<form id="activity-form" action="/cont-activity-page" method="POST">
    Activity name: <input type="text" name="activity_query">
    <br>
    Playlist name: <input type="text" name="playlist_name">
    <input type="submit" value="Submit" id='search-button'>
</form>
<meta id="auth_header" data-name="{{ auth_header }}" data-other="{{other}}">

    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const play = ({
      spotify_uri,
      playerInstance: {
        _options: {
          // getOAuthToken,
          // id
        }
      }
    }) => {
      // getOAuthToken(access_token => {
        fetch(`https://api.spotify.com/v1/me/player/play?`, {
          method: 'PUT',
          body: JSON.stringify({  "context_uri": "spotify:album:5ht7ItJgpBH7W6vJ5BqpPr" }),
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + $('#auth_header').data().name
          },
        });
      // });
    };

    play({
      playerInstance: new Spotify.Player({ name: "..." }),
      spotify_uri: 'spotify:track:7xGfFoTpQ2E7fRF5lN10tr', 
    });
    };
    </script>

<!--     <script>
    
        // let menuId = $("ul.nav").first().attr("id");
        // // let keyword = whatever user specified
        // $("button").click(function(){
        // let request = $.ajax({
        //   url: "https://api.spotify.com/v1/search",
        //   type: "GET",
        //   data: {q : keyword, type: 'playlist'},
        //   dataType: "application/json"
        // });


        // $('#search-button').on('click', searchAPI);

        var url = "https://api.spotify.com/v1/search?q=workout&type=playlist&limit=1&offset=1"
        

        $("#search-button").click(function(){
          $.ajax({
            url: url,
            type: "GET",
            contentType: "application/json",
            headers: '{{resp}}',
            success: function(data) {
                //print result of get
                console.log(data);
            }
          });


    </script> -->

<br>
<br>
<br>
<div>  
    <button id='logout-user'>logout</button>
</div>


<script>
    function logoutExistingUser(evt) {
        window.location.replace("/logout");
    }

    $('#logout-user').on('click', logoutExistingUser);
</script>
{% endblock %}

<!-- $("button").click(function(){
  $.ajax({url: "demo_test.txt", success: function(result){
    $("#div1").html(result);
  }});
});
 -->