{% extends 'base.html' %}

{% block title %}SongMuse{% endblock %}
<header>
    
</header>
{% block content %}

<div id="background-img" class="container-fluid text-center light-text">
<!--     <div class=“container col-7”>
 -->    <div class="homepage-header-row row">
        <div class="col-12">
                <!-- <span class="text-wrapper"> -->
            <h1 id="main-title-homepage">SongMuse</h1>

            <p id="main-description">Your activity based playlist generator.</p>

            <p id="opt-desc">
                SongMuse uses the Spotify API to generate playlists based off the user's desired activity. Once created, the user can view and listen to the playlist through SongMuse or Spotify itself, as it seamlessly uploads there. The user's previously created playlists are also saved and available for replay. Lastly, new users require a one-time Spotify authorization prior to using SongMuse. 

            </p>


    </div>
</div>


<footer>
        <span>
            <button id="about-btn" class='btn btn-outline-success btn-md'>
                <label class="button-label">
                ABOUT
                </label>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <button id='new-user' class='btn btn-outline-success btn-md' onclick="location.href = '/spotify-login'">
                <label class="button-label">
                NEW USER
                </label>
            </button>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id='returning-user' class="btn btn-outline-success btn-md" onclick="location.href = '/login-current-user'">
                <label class="button-label">
                RETURNING USER
                </label>
            </button>
        
        </span>    

</footer>

<script>

$("#about-btn").click(function(){
        $("#opt-desc").fadeToggle("slow", "linear");
    });

</script>

{% endblock %}





<!-- 
  <header>
    Header
  </header>

  <aside class="sidebar-left">
    Left Sidebar
  </aside>

  <article>
    Article
  </article>

  <aside class="sidebar-right">
    Right Sidebar
  </aside>
  
  <footer>
    Footer
  </footer>
</div> -->