{% extends 'base.html' %}
{% block content %}

    <h1>This is the homepage!</h1>



    <label>Create New Account</label>
    <div>  
        <button id='new-user' onclick="location.href = '/spotify-login'">submit</button>
    </div>

    <label>Login Returning User</label>
    <div>  
        <button id='returning-user' onclick="location.href = '/login-current-user'">submit</button>
    </div>

<!--     <script>
    
        function redirectToSpotify(evt) {
            window.location.replace("/spotify-login");
        }

        $('#spotify').on('click', redirectToSpotify);

    </script>
     -->
{% endblock %}