{% extends 'base.html' %}

{% block title %}SongMuse{% endblock %}
<header>
    
</header>
{% block content %}

<div id="background-img" class="container-fluid text-center light-text">
<!--     <div class=“container col-7”>
 -->    <div class="homepage-header-row row">
        <div class="col-12">
                <!-- <span class="text-wrapper"> -->
            <h1 id="main-title">SongMuse</h1>

            <p id="main-description">Your activity based playlist generator.</p>

        <span>
            <button id='new-user' class='btn btn-outline-success btn-lg' onclick="location.href = '/spotify-login'">NEW USER</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id='returning-user' class="btn btn-outline-success btn-lg" onclick="location.href = '/login-current-user'">RETURNING USER</button>
        
        </span>

    </div>
</div>
{% endblock %}



<!-- 
  <header>
    Header
  </header>

  <aside class="sidebar-left">
    Left Sidebar
  </aside>

  <article>
    Article
  </article>

  <aside class="sidebar-right">
    Right Sidebar
  </aside>
  
  <footer>
    Footer
  </footer>
</div> -->