{% extends 'base.html' %}
{% block content %}
  <h1 id="main-title">Login</h1>


  <form id="login-form" action="/login-verification" method="POST">

    <div>
      <label>Username:
        <input class="input-field" type="text" name="username" required>
      </label>
    </div> 

    <div>
      <label>Password:
        <input class="input-field" type="password" name="password" required>
      </label>
    </div>

    <div>
      <input id="submit-btn" class="btn btn-outline-success btn-sm" type="submit" value="Log In">
    </div>

  </form>

{% endblock %}