{% extends 'base.html' %}
{% block content %}
<div id="background-img" class="container-fluid text-center light-text">

  <h1 id="main-title-login">Login</h1>
    <center>
      <div class="card" style="width: 500px;">
        <div class="card-body">

          <form id="login-form" action="/login-verification" method="POST">

            <div>
              <label>USERNAME
                <input class="input-field" type="text" name="username" required>
              </label>
            </div> 

            <div>
              <label>PASSWORD
                <input class="input-field" type="password" name="password" required>
              </label>
            </div>

            <div>
              <input id="submit-btn-return" class="btn btn-outline-success btn-sm" type="submit" value="LOG IN">
            </div>

          </form>
        </div>
      </div>
    </center>
 
</div>

{% endblock %}

