{% extends 'base.html' %}
{% block content %}

<h1 id="main-title">Register</h1> 

<form id="sign-up-form" action="/sign-up-verification" method="POST">
  <div>
    <label id="button-label">Username: </label>
    <input class="input-field" type="text" name="new-username" required>
  </div>

  <div>
    <label id ="button-label">Password: </label>
    <input class="input-field" type="password" name="new-password" required>
  </div>

  <div>
    <input id="submit-btn" class="btn btn-outline-success btn-sm" type="submit" value="Register">
  </div>

</form>

{% endblock %}